@font-face {
  font-family: "Mona Sans";
  src: url("../public/Mona-Sans.woff2"), format("woff2-variations");
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

#root {
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  overflow: hidden;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  height: 100%;
  /* font-family: Inter, sans-serif; */
  font-family: "Mona Sans", sans-serif;
  /* display: flex;
  justify-content: space-between;
  align-items: space-between;
  flex-direction: column; */
}

a {
  color: inherit;
  text-decoration: none;
}

*,
::after,
::before {
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
}

.animate {
  opacity: 0;
  transition: all 1s;
  transform: translateY(10%);
}
.animate.mover {
  transform: translateY(50%);
}
.show {
  opacity: 1;
  filter: blur(0);
  transition-delay: 250ms;
  transform: translateY(0);
}
.show.early {
  transition-delay: 500ms;
  transform: translateY(0);
}
.show.mid {
  transition-delay: 750ms;
  transform: translateY(0);
}
.show.late {
  transition-delay: 1000ms;
  transform: translateY(0);
}
.show.vlate {
  transition-delay: 1250ms;
  transform: translateY(0);
}
.show.vvlate {
  transition-delay: 1500ms;
  transform: translateY(0);
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
