.cssgradient {
  background-size: 100%;
  background-color: #000;
  background-image: linear-gradient(
    90deg,
    #e34f26 7.5%,
    #2965f1 19.5%,
    #f7df1e 35.071%,
    #3178c6 49%,
    #61dafb 66%,
    #000 78.729%,
    #06b6d4 93.614%
  );
  background-size: 100%;
  background-repeat: repeat;
  cursor: pointer;
}

.css {
  opacity: 0;
  color: transparent;

  transition: all 1s;
  transform: translateX(30%);
}

.cssshow {
  opacity: 1;
  transform: translateX(0%);
}
