.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  cursor: pointer;
  z-index: 2;
}
.menu-btn__burger,
.menu-btn__burger::before,
.menu-btn__burger::after {
  width: 20px;
  height: 1.5px;
  background: #000;
  border-radius: 20px;
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: '';
  position: absolute;
  transform: translateY(-6px);
}
.menu-btn__burger::after {
  transform: translateY(6px);
}
.menu-btn.open .menu-btn__burger {
  transform: translateX(-33px);
  background: transparent;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(20px, -20px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(20px, 20px);
}
.ham-menu {
  position: static;
  visibility: hidden;
}
.ham-menu.open {
  visibility: visible;
}
.ham-menu-blur {
  transition: 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}
.ham-menu-open {
  transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateX(327px);
}
.ham-menu.open .ham-menu-open {
  transform: translateX(0px);
}
.ham-menu.open .ham-menu-blur {
  opacity: 100;
}
.close-button-blur {
  content: '';
  width: 100em;
  height: 100em;
}
